<div class="column-container">
  <div class="content-container">
    <div style="margin-bottom: 100px;">
      <h1>Welcome to Changebank</h1>
      <p>To get started,
        <button class="button-redirect" (click)="login()" style="cursor: pointer">log in</button>
        or
        <button class="button-redirect" (click)="register()" style="cursor: pointer">create a new account.</button>
      </p>
    </div>
  </div>
  <div style="flex: 0;">
    <img src="/assets/money.jpg" style="max-width: 800px;"/>
  </div>
</div>
